body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
    overflow: hidden;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.mapboxgl-ctrl-bottom-left {
    right: 0;
    bottom: 0px;
}

.map-overlay {
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    position: absolute;
    width: 25%;
    top: 0;
    left: 0;
    padding: 10px;
}

.map-overlay .map-overlay-inner {
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
}

.map-overlay h2 {
    line-height: 24px;
    display: block;
    margin: 0 0 10px;
}

.map-overlay input {
    background-color: transparent;
    display: inline-block;
    width: 100%;
    position: relative;
    margin: 0;
    cursor: ew-resize;
    text-align: center;
    font-weight: normal;
}

#header {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    height: 45px;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 900;
    box-shadow: 0px 2px 5px 0px rgba(34, 34, 34, 0.5);

}

#title_img {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 45px;
}

#local_img {
    position: absolute;
    top: 0px;
    left: 150px;
    height: 45px;
}

h3 {
    color: white;
    margin: auto;
    background-color: black;
    padding: 4px;
    text-align: center;
}

#process_stage,
#locale,
#agreement,
#desc {
    padding: 8px;
    padding-bottom: 0px;
}

#peace_title_div {
    overflow-y: auto;
    /* box-shadow: inset 0 0 5px #414141; */
}

#peace_title_div::-webkit-scrollbar {
    width: 10px;
}

/* Track */
#peace_title_div::-webkit-scrollbar-track {
    background: #515151;
}

/* Handle */
#peace_title_div::-webkit-scrollbar-thumb {
    background: white;
}

/* Handle on hover */
#peace_title_div::-webkit-scrollbar-thumb:hover {
    background: rgb(230, 103, 103);
}

h5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

#bee_time_btn {
    position: absolute;
    background-color: #fdd900;
    border: none;
    color: black;
    padding: 0px 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 2px;
    display: inline-block;
    cursor: pointer;
    z-index: 999;
    height: 20px;
}

#refresh_button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #fdd900;
    border: none;
    color: black;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 2px;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;

}

#mini_refresh_button {
    position: absolute;
    right: 5px;
    background-color: #fdd900;
    border: none;
    color: black;
    padding: 3px 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 2px;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
}

#info_button {
    position: absolute;
    top: 5px;
    right: 70px;
    background-color: #fdd900;
    border: none;
    color: black;
    padding: 5px 20px;
    text-align: center;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 2px;
}

#filter_button {
    position: absolute;
    top: 20px;
    left: 0px;
    z-index: 990;
    border-radius: 5px 5px 0px 0px;
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform-origin: bottom left;
    background-color: #fdd900;
    color: black;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    border-radius: 2px;
    cursor: pointer;
    border: none;
    font-family: 'Montserrat';
    font-weight: bold;
}

#mini_refresh {
    display: inline-block;
    background-color: #fdd900;
    border: none;
    color: black;
    padding: 1px 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 2px;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
}

#bee_time_btn:hover,
#refresh_button:hover,
#mini_refresh_button:hover,
#mini_refresh:hover,
#info_button:hover,
#filter_button:hover {
    background-color: #AA4197;
    color: white;
}

pre {
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 14px;
    direction: ltr;
    padding-left: 25px;
    padding-right: 25px;
    overflow-x: visible;
    white-space: pre-wrap;
    font-family: "Montserrat";
}

h1 {
    color: white;
    margin: auto;
}

a:-webkit-any-link:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

pre a:-webkit-any-link {
    color: #feda00;
    cursor: pointer;
}

#update {
    font-size: 12px;
    color: white;
    position: absolute;
    bottom: 5px;
    right: 50px;
}

#peace_process {
    overflow: hidden;
    background-color: black;
    color: white;
    position: absolute;
    top: 47px;
    z-index: 900;
    padding: 0px;
    border-radius: 2px;
    /* -webkit-box-shadow: 0 0 3px #3d3a52;
    box-shadow: 0 0 3px #4e4a69; */
}

#info {
    overflow: hidden;
    color: white;
    position: absolute;
    top: 47px;
    z-index: 900;
    padding: 0px;
    background-color: black;
    border-radius: 2px;
    /* -webkit-box-shadow: 0 0 3px #3d3a52;
    box-shadow: 0 0 3px #4e4a69; */
}

#info_content,
#peace_content {
    overflow-y: auto;
    border-radius: 3px;
}

#peace_content::-webkit-scrollbar {
    width: 10px;
}

/* Track */
#peace_content::-webkit-scrollbar-track {
    background: #515151;
}

/* Handle */
#peace_content::-webkit-scrollbar-thumb {
    background: white;
}

/* Handle on hover */
#peace_content::-webkit-scrollbar-thumb:hover {
    background: rgb(230, 103, 103);
}

#description,
#timeline_description {
    position: absolute;
    font-size: 12px;
    z-index: 999;
    background-color: black;
    width: 120px;
    color: white;
    border-radius: 3px;
    padding: 0.8em;
    border: none;
    box-shadow: 0 0px 0px 0 rgb(255 255 255 / 10%), 0 0px 5px 0 rgba(255, 255, 255, 0.2);
    margin: auto;
    display: none;
    opacity: 0.8;
}

p {
    margin: 0px;
    font-size: 14px;
}

#filter_title {
    font-size: 14px;
    margin: auto;
}

#peace {
    padding: 10px;
}

.third {
    position: relative;
    background-color: #171d26;
    border-radius: 2px;
    margin: 4px;
}

.tick line {
    stroke: rgb(255, 255, 255);
    opacity: 0.2;
}

.white-axis {
    fill: white;
}

.myXaxis path {
    visibility: hidden;
}

#time_title {
    position: relative;
    /* top: 5px; */
}

#links {
    display: flex;
    margin: 4px;
    border-radius: 5px;
}

.box {
    background-color: #171d26;
    flex: 1;
    border: 2px solid black;
    border-radius: 2px;
    text-align: center;
    padding: 0px;
    /* box-shadow: inset 0 0 5px #414141; */
}

#info_content {
    background-color: #171d26;
    font-size: 14px;
    margin: 3px;

}

#info_content::-webkit-scrollbar {
    width: 10px;
}

/* Track */
#info_content::-webkit-scrollbar-track {
    background: #515151;
}

/* Handle */
#info_content::-webkit-scrollbar-thumb {
    background: white;
}

/* Handle on hover */
#info_content::-webkit-scrollbar-thumb:hover {
    background: rgb(230, 103, 103);
}


#img_text {
    font-size: 12px;
}

#krava {
    position: relative;
}

#info_content {
    padding: 20px;
}

#first_link:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}

#first_link:visited {
    color: steelblue;
    background-color: transparent;
    text-decoration: none;
}

#first_link:hover {
    color: yellow;
    background-color: transparent;
    text-decoration: none;
}

.box:hover {
    box-shadow: inset 0 0 5px #baacac;
    cursor: pointer;
}

#first_link:active {
    color: red;
    background-color: transparent;
    text-decoration: none;
}

a {
    cursor: pointer;
}

/* Style The Dropdown Button */
.dropbtn {
    border-radius: 2px;
    font-family: "Montserrat";
    background-color: #313461;
    color: white;
    padding: 8px;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    z-index: 9;
    position: relative;
    top: 10px;
    left: 5px;
    display: inline-block;
    padding: 2px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    border-radius: 2px;
    display: none;
    position: absolute;
    background-color: #0F1826;
    min-width: 115px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #717171
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #04AA6D;
}

#chart,
#timeline {
    position: absolute;
}

#timeline_buttons {
    position: absolute;
    top: -22px;
    right: 40px;
}


.fa-arrows-h {
    font-size: 20px;
}

#main_timeline {
    position: relative;
    z-index: 99;
    background-color: #171d26;
    border-radius: 3px;
    margin: 3px;
    padding: 10px;
}

#filters {
    z-index: 999;
    position: absolute;
    top: 47px;
    padding: 1px;
    background-color: black;
    border-radius: 2px;
    /* -webkit-box-shadow: 0 0 3px #3d3a52;
    box-shadow: 0 0 3px #4e4a69; */
}

.filter_local {
    position: relative;
    top: 0px;
    margin: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    color: #fff;
    padding: 10px;
    z-index: 900;
    font-family: "Montserrat";
    border-radius: 3px;
    background-color: #171d26;

}

/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 8px;
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input[type="radio"] {
    vertical-align: bottom;
}

label {
    display: block;
    margin-bottom: 5px;
    cursor: pointer;
}

form {
    font-size: 12px;
}

.legend {
    display: flex;
    box-shadow: 0 0 3px #4e4a69;
    height: 23px;
    gap: 10px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 1);
    color: white;
    position: absolute;
    border-radius: 2px;
    bottom: -1px;
    left: -1px;
    padding-left: 10px;
}

.legend .circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    margin: auto;
}

.circle.pre {
    background-color: #016099;
}

.circle.cea {
    background-color: #df1f36;
}

.circle.par {
    background-color: #fd8189;
}

.circle.imp {
    background-color: #3aae2a;
}

.circle.oth {
    background-color: #34495e;
}

span {
    margin: auto;
    font-size: 12px;
    left: 10px;
}


h4 {
    text-align: center;
}

/* Tooltip text */
.tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 5px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    left: 150px;
    z-index: 999;
}

/* Show the tooltip text when you mouse over the tooltip container */
label:hover .tooltiptext {
    visibility: visible;
}

input {
    cursor: pointer;
}