body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
    overflow: hidden;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.mapboxgl-ctrl-bottom-left {
    right: 0;
    bottom: 0px;
}

/* .map-overlay {
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    position: absolute;
    width: 25%;
    top: 0;
    left: 0;
    padding: 10px;
} */

.map-overlay .map-overlay-inner {
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
}

.map-overlay h2 {
    line-height: 24px;
    display: block;
    margin: 0 0 10px;
}

.map-overlay input {
    background-color: transparent;
    display: inline-block;
    width: 100%;
    position: relative;
    margin: 0;
    cursor: ew-resize;
    text-align: center;
    font-weight: normal;
}

#header {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    height: 45px;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 900;
}

#title_img {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 45px;
}

h2 {
    color: white;
    border-radius: 3px;
    margin: auto;
    background-color: #091f40;
    font-size: 22px;
    padding: 5px;
}

h4 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 2px;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
}

.button1:hover {
    background-color: red;
    color: white;
}


pre {
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 14px;
    direction: ltr;
    padding-left: 25px;
    padding-right: 25px;
    overflow-x: visible;
    white-space: pre-wrap;
    font-family: "Montserrat";
}

h1 {
    color: white;
    margin: auto;
}

#peace_title_div,
#info_title_div
{
text-align: center;
position: fixed;
border-radius: 5px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey; */
    border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255);
    border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}

#dropdown {
    position: absolute;
    top: 5px;
    right: 68.58px;
    height: 33.2px;
    color: white;
    background: #091f40;
    border: none;
    border-radius: 3px;
    font-family: 'Montserrat';
    font-size: 15px;
}

a:-webkit-any-link:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

pre a:-webkit-any-link {
    color: #feda00;
    cursor: pointer;
}

#gradient {
    position: absolute;
    bottom: 40px;
    right: 50px;
    height: 50px;
}

.legendTitle {
    font-size: 15px;
    fill: #4F4F4F;
    font-weight: 12;
}

.axis path,
.axis line {
    fill: none;
    stroke: none;
    /*black;*/
    shape-rendering: crispEdges;
}

.axis text {
    font-family: "Montserrat";
    fill: white;
    font-size: 9pt;
}

#update {
    font-size: 12px;
    color: white;
    position: absolute;
    bottom: 5px;
    right: 50px;
}


.legend {
    position: relative;
    border-radius: 5px;
    background-color: black;
    border-radius: 5px;
    left: 5px;
    bottom: 35px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    color: #fff;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    padding: 10px;
    position: absolute;
    z-index: 900;
    font-family: "Montserrat";
}

.legend div span {
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    margin-right: 5px;
    width: 10px;
}

#info_button {
    position: absolute;
    top: 5px;
    right: 70px;
    background-color: #04AA6D;
    border: none;
    color: black;
    padding: 5px 20px;
    text-align: center;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 2px;
}

#info_button:hover {
    background-color: #006297
}

#peace_process, #info {
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    position: absolute;
    top: 47px;
    z-index: 900;
    border-radius: 5px;
    padding: 10px;
}

#info_content,
#peace_content {
    /* position: absolute; */
    overflow-y: auto;
    /* bottom: 5px; */
}

#description {
    position: absolute;
    font-size: 12px;
    z-index: 999;
    background-color: black;
    width: 120px;
    color: white;
    border-radius: 3px;
    padding: 0.8em;
    border: none;
    box-shadow: 0 0px 0px 0 rgb(255 255 255 / 10%), 0 0px 5px 0 rgba(255, 255, 255, 0.2);
    margin: auto;
    display: none;
    opacity: 0.8;
}

#additional_info{
    position: absolute;
    padding: 5px;
}

p {
    margin: 0px;
    font-size: 14px;
}
