body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
    overflow: hidden;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.mapboxgl-ctrl-bottom-left {
    right: 0;
    bottom: 0px;
}

.map-overlay {
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    position: absolute;
    width: 25%;
    top: 0;
    left: 0;
    padding: 10px;
}

.map-overlay .map-overlay-inner {
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
}

.map-overlay h2 {
    line-height: 24px;
    display: block;
    margin: 0 0 10px;
}

.map-overlay input {
    background-color: transparent;
    display: inline-block;
    width: 100%;
    position: relative;
    margin: 0;
    cursor: ew-resize;
    text-align: center;
    font-weight: normal;
}

#header {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    height: 45px;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 900;
}

#title_img {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 45px;
}

#local_img {
    position: absolute;
    top: 0px;
    left: 150px;
    height: 45px;
}

h3 {
    color: white;
    margin: auto;
    background-color: black;
    padding: 10px;
    text-align: center;
}

#process_stage,
#locale,
#agreement,
#desc {
    padding: 5px;
}

#peace_title_div {
    overflow-y: auto;
    box-shadow: inset 0 0 5px #414141;
}

#timeline {
    box-shadow: inset 0 0 5px #414141;
}

#peace_title_div::-webkit-scrollbar {
    width: 10px;
}

/* Track */
#peace_title_div::-webkit-scrollbar-track {
    background: #515151;
}

/* Handle */
#peace_title_div::-webkit-scrollbar-thumb {
    background: white;
}

/* Handle on hover */
#peace_title_div::-webkit-scrollbar-thumb:hover {
    background: rgb(230, 103, 103);
}

h5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

#refresh_button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 2px;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
}

#refresh_button:hover {
    background-color: #006297
}

#info_button {
    position: absolute;
    top: 5px;
    right: 70px;
    background-color: #04AA6D;
    border: none;
    color: black;
    padding: 5px 20px;
    text-align: center;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 2px;
}

#info_button:hover {
    background-color: #006297
}

pre {
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 14px;
    direction: ltr;
    padding-left: 25px;
    padding-right: 25px;
    overflow-x: visible;
    white-space: pre-wrap;
    font-family: "Montserrat";
}

h1 {
    color: white;
    margin: auto;
}

a:-webkit-any-link:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

pre a:-webkit-any-link {
    color: #feda00;
    cursor: pointer;
}

#update {
    font-size: 12px;
    color: white;
    position: absolute;
    bottom: 5px;
    right: 50px;
}

.legend {
    position: relative;
    border-radius: 5px;
    background-color: black;
    border-radius: 5px;
    left: 5px;
    bottom: 35px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    color: #fff;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    padding: 10px;
    position: absolute;
    z-index: 900;
    font-family: "Montserrat";
}

.legend div span {
    border-radius: 50%;
    display: inline-block;
    height: 13px;
    margin-right: 5px;
    width: 13px;
}


#peace_process {
    overflow: hidden;
    background-color: black;
    color: white;
    position: absolute;
    top: 47px;
    z-index: 900;
    border-radius: 5px;
    padding: 0px;
}

#info {
    overflow: hidden;
    background-color: black;
    color: white;
    position: absolute;
    top: 47px;
    z-index: 900;
    border-radius: 5px;
    padding: 0px;
}

#info_content,
#peace_content {
    overflow-y: auto;
    border-radius: 5px;
}

#peace_content::-webkit-scrollbar {
    width: 10px;
}

/* Track */
#peace_content::-webkit-scrollbar-track {
    background: #515151;
}

/* Handle */
#peace_content::-webkit-scrollbar-thumb {
    background: white;
}

/* Handle on hover */
#peace_content::-webkit-scrollbar-thumb:hover {
    background: rgb(230, 103, 103);
}

#description {
    position: absolute;
    font-size: 12px;
    z-index: 999;
    background-color: black;
    width: 120px;
    color: white;
    border-radius: 3px;
    padding: 0.8em;
    border: none;
    box-shadow: 0 0px 0px 0 rgb(255 255 255 / 10%), 0 0px 5px 0 rgba(255, 255, 255, 0.2);
    margin: auto;
    display: none;
    opacity: 0.8;
}

p {
    margin: 0px;
    font-size: 14px;
}

#filter_title {
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 14px;
}

#peace {
    padding: 10px;
}

.third {
    background-color: rgb(27, 27, 27);
    border-radius: 5px;
    margin: 4px;
}

.tick line {
    stroke: rgb(255, 255, 255);
    opacity: 0.2;
}

.white-axis {
    fill: white;
}

.myXaxis path {
    visibility: hidden;
}

#time_title {
    position: relative;
    top: 5px;
}

#links {
    display: flex;
    margin: 4px;
    border-radius: 5px;
}

.box {
    background-color: rgb(27, 27, 27);
    flex: 1;
    border: 2px solid black;
    border-radius: 4px;
    text-align: center; 
    padding: 2px;
    box-shadow: inset 0 0 10px #414141;
  }

  #info_content {
    background-color: rgb(27, 27, 27);
    box-shadow: inset 0 0 10px #414141;
    font-size: 14px;
    margin: 4px;

  }

 #info_content::-webkit-scrollbar {
    width: 10px;
}

/* Track */
#info_content::-webkit-scrollbar-track {
    background: #515151;
}

/* Handle */
#info_content::-webkit-scrollbar-thumb {
    background: white;
}

/* Handle on hover */
#info_content::-webkit-scrollbar-thumb:hover {
    background: rgb(230, 103, 103);
}


 #img_text {
    font-size: 12px;
 }

 #krava {
    position: relative;
 }

 #info_content {
    padding: 20px;
 }

 #first_link:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
  
  #first_link:visited {
    color: steelblue;
    background-color: transparent;
    text-decoration: none;
  }
  
  #first_link:hover {
    color: yellow;
    background-color: transparent;
    text-decoration: none;
  }
  
  #first_link:active {
    color: red;
    background-color: transparent;
    text-decoration: none;
  }
